.App {
  color: #383954;
  background: url('./Images/backgroundImage.png');
}

/*NAVBAR*/
nav {
  background-color: #649767;
}
.name, .routes, .routes:hover, .maintitle {
  color: #383954;
  font-family: 'Satisfy';
  font-size: 20px;
  text-decoration: none;
}
.name {
  width: 140px;
  font-size: 22px;
}
.routes, .routes:hover {
  padding: 5px;
  margin-right: 10px;
}
.maintitle {
  font-size: 23px;
  text-align: center;
}

/* ABOUT ME */
#profile {
  border-radius: 40px;
  height: 50%;
  width: 50%;
  margin-left: 166px;
  margin-bottom:10px;

}
.aboutMe, .portfolio{
  background-color: white;
  border-radius: 5px;
  color: #383954;
  padding: 25px;
  font-size: 18px;
  font-family: 'Kalam';
  margin-bottom: 25px;
}



/* PORTFOLIO */
.description{
  font-family: 'Kalam';
  font-size: 13px;
}
.title {
  font-family: 'Satisfy';
  font-size: 18px;
}


.here {
  border-radius: 25px;
}

/* ACCOUNTS */
.accounts {
  border-color: #649767;
}
.panel-heading {
  background-color: #649767;
}
.links {
  text-decoration: none;
}
#stack {
  height: 45px;
  border-radius:5px;
  margin-left: 63px;
}
.icons {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin-left: 25px;
  margin-bottom: 15px;
}
